.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.about {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .65);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal {
  background-color: #fff;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 80vh;
  padding: 40px 30px;
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 2;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  }

  .close {
    background-color: transparent;
    position: absolute;
    font: 12px 'Gotham Medium';
    color: #fff;
    top: -32px;
    right: 23px;
  }

  .content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .text {
    width: 90%;
    margin: 0 auto 50px;
    color:rgba(0, 0, 0, .65);
    font: 16px/1.5 'Gotham Light';
    text-align: center;
    text-transform: uppercase;
  }

  .button {
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
